{% extends 'origin.html' %}

{% block 'content' %}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="http://127.0.0.1:8000">SPORTS STORE</a>
    </nav>
    <ul class="nav flex-column sidebar">
        <li class="nav-item">
            <a class="nav-link active" href="category/clothes">Clothes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="category/watersport">Watersports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="category/accessories">Accessories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="category/equipment">Equipment</a>
        </li>
    </ul>
    {% if products.count > 0 %}
        {% for product in products %}
            <div class="card w-50 content" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{product.Name}}</h5>
                <p class="card-text">{{product.Description}}</p>
                <a href="#" class="btn btn-primary">${{product.Price}}</a>
              </div>
            </div>
        {% endfor %}
    {% endif %}
    <nav aria-label=" ">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/page/1">1</a></li>
            <li class="page-item"><a class="page-link" href="/page/2">2</a></li>
            <li class="page-item"><a class="page-link" href="/page/3">3</a></li>
        </ul>
    </nav>
{% endblock %}
